<h1><%= context.strftime('%B %Y') %></h1>
<ul>
    <% current = nil -%>
    <% for post in posts -%>
        <% if post.day != current -%>
            <li><a href="<%= post.created.strftime('/%Y/%m/%d/') %>"><%= post.created.strftime '%e' %></a></li>
            <% current = post.day -%>
        <% end -%>
    <% end -%>
</ul>
