<h1><%= context.year %></h1>
<ul>
    <% current = nil -%>
    <% for post in posts -%>
        <% if post.month != current -%>
            <li><a href="<%= post.created.strftime('/%Y/%m/') %>"><%= post.created.strftime '%B' %></a></li>
            <% current = post.month -%>
        <% end -%>
    <% end -%>
</ul>
