<h1><%= context.year %></h1>

<ul>
    <% for month, days in posts -%>
        <% date = Date.new context.year, month.to_i -%>
        <li><a href="<%= date.strftime('/%Y/%m/') %>"><%= date.strftime '%B' %></a></li>
    <% end -%>
</ul>
